html {
	width: 100%;
	height: 100%;
}

body {
	width: 100%;
	height: 100%;
	margin: 0px;
	overflow: hidden;
}

header {
	padding: 0px;
	margin: 0px;
	box-shadow: 0 2px 5px grey;
	position: absolute;
	top: 0px; left: 0px; right: 0px; height: 51px;
}

#header-container {
	margin: 4px;
	padding: 0px;
}

section {
	padding: 0px;
	margin: 0px;
	display: flex;
	flex-direction: row;
	overflow: hidden;
	position: absolute;
	top: 51px; left: 0px; right: 0px; bottom:0px;
}

aside {
	flex-grow: 1;
}

#toolbar-container {
	min-width: 180px;
	padding: 8px;
}

.tool {
	border-width: 1px 1px 1px 1px;
	border-color: black;
	border-style: solid;
}
.tool:hover {
	border-color: blue;
}
.tool.selected {
	border-color: blue;
}

article {
	flex-grow: 5;
	overflow: auto;
	min-width: 480px;
}

#graph-container {
	display: flex;
	background-color: #E8E8E8;
	justify-content: center;
	align-items: center;
	min-height: 100%;
}	

#graph {
	display: block;
	width: 1200px;
	height: 675px;
	margin: 16px;
	background-color: #FFFFFF;
}

rect.nodeFrame {
	fill: white;
	stroke-width: 1px;
	stroke: black;
}
rect.selected {
	fill: white;
	stroke-width: 2px;
	stroke: blue;
}

line.arrow {
	stroke-width: 1px;
	stroke: black;
}
line.selected {
	stroke-width: 1px;
	stroke: blue;
}

