html {
	width: 100%;
	height: 100%;
}

body {
	width: 100%;
	height: 100%;
	margin: 0px;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, Cantarell, "Helvetica Neue", Arial, sans-serif;
	font-size: 0.9rem;
}

#app {
	display: grid;
	width: 100vw;
	height: 100vh;
	grid-template-areas: "header header header" "left-pane main right-pane";
}

.graph-container {
	grid-area: main;
	background-color: #E8E8E8;
	min-width: 100%;
	min-height: 100%;
	text-align: center;
	overflow: auto;
}

header {
	grid-area: header;
	display: flex;
	box-shadow: 0 3px 2px -2px lightgray;
	padding: 0.5rem 1rem;
}

h1 {
	margin-top: 0;
	margin-bottom: 0.5rem;
	font-weight: 400;
	line-height: 1.2;
  	font-size: 1.2rem;
}

#title-container {
	margin-right: 2rem;
}

#switchlink {
  margin: 0px;
  margin-top: 4px;
  margin-bottom: 4px;
  font-size: 14px;
  text-decoration: inherit;
  color: black;
}

.cmdline-container {
  display: flex;
  flex: auto;
  align-items: center;
  margin-right: 1rem;
}

.cmdline-container input {
  border: 1px solid gray;
  padding: 0 0.5rem;
  height: 1.5rem;
  font-size: 0.9rem;
  font-family: monospace;
  min-width: 200px;
  flex: auto;
}

.cmdline-container button {
  margin: 0px;
  padding: 0.25rem;
  height: 1.5rem;
  align-items: center;
  border: 1px solid gray;
}

.cmdline-container button.right {
  border-left: 0px;
}

.cmdline-container button.left {
  border-right: 0px;
}

.underline {
  text-decoration: underline;
}


.left-pane {
	grid-area: left-pane;
	box-shadow: 3px 0 2px -2px lightgray;
	padding: 2rem 1rem;
}

.right-pane {
	grid-area: right-pane;
	box-shadow: -3px 0 2px -2px lightgray;
	padding: 2rem 1rem;
	min-width: 250px;
}

.tool {
	border-style: none;
	border-radius: 2px;
	background: none;
	padding: 0.1rem 1rem;
	display: block;
	margin-bottom: 0.5rem;
	width: 100%;
	text-align: left;
	font-family: inherit;
	font-size: 1rem;
}
.tool:hover {
	background-color: #eeeeee;
}
.tool.selected {
	background-color: #0070ff;
	color: white;
}

.paraminput {
	display: block;
	margin-top: 0;
	margin-bottom: 1rem;
  	border: 1px solid gray;
  	border-radius: 2px;
  	padding: 0.1rem 0.25rem;
}

.textrange {
  color: gray;
  float: right;
  margin-left: 0.5rem;
}

#graph {
	display: inline-block;
	width: 1200px;
	height: 675px;
	background-color: #FFFFFF;
	margin: 16px;
}

.nodeFrame {
	fill: white;
	stroke-width: 1px;
	stroke: black;
}
.selected {
	fill: white;
	stroke-width: 2px;
	stroke: #0070ff;
}

.line {
	stroke: black;
}

line.arrow {
	stroke-width: 1px;
	stroke: black;
}
.arrowthick {
	stroke-width: 2px;
	stroke: black;
}

.d-block {
	display: block;
}

.d-flex {
	display: flex;
}

.no-select {
	user-select: none;
	-webkit-user-select: none;
}

*, ::after, ::before {
	box-sizing: border-box;
}