html {
	width: 100%;
	height: 100%;
}

body {
	width: 100%;
	height: 100%;
	margin: 0px;
	overflow: hidden;
}

header {
	padding: 0px;
	margin: 0px;
	box-shadow: 0 2px 5px grey;
	position: absolute;
	top: 0px; left: 0px; right: 0px; height: 51px;
}

#header-container {
	margin: 4px;
	padding: 0px;
}

section {
	padding: 0px;
	margin: 0px;
	display: block;
	overflow: hidden;
	position: absolute;
	top: 51px; left: 0px; right: 0px; bottom:0px;
}

aside {
	display: block;
	position: absolute;
	box-shadow: 0 2px 5px grey;
}

#toolbar {
	width: 200px;
	top: 0px; left: 0px; bottom: 0px;
}

#toolbar-container {
  padding: 8px;
}

.tool {
	border-width: 1px 1px 1px 1px;
	border-color: black;
	border-style: solid;
}
.tool:hover {
	border-color: blue;
}
.tool.selected {
	border-color: blue;
}

#parambar {
	width: 200px;
	top: 0px; right: 0px; bottom: 0px;
}

#parambar-container {
  padding: 8px;
}

article {
	overflow: auto;
	position: absolute;
	top: 0px; left: 200px; right: 200px; bottom: 0px;
	min-width: 200px;
	min-height: 200px;
}

#graph-container {
  display: inline-block;
	background-color: #E8E8E8;
	min-width: 100%;
	min-height: 100%;
	text-align: center;
}

#graph {
	display: inline-block;
	width: 1200px;
	height: 675px;
	background-color: #FFFFFF;
	margin: 16px;
}

rect.nodeFrame {
	fill: white;
	stroke-width: 1px;
	stroke: black;
}
rect.selected {
	fill: white;
	stroke-width: 2px;
	stroke: blue;
}

line.arrow {
	stroke-width: 1px;
	stroke: black;
}
line.selected {
	stroke-width: 1px;
	stroke: blue;
}

