html {
	width: 100%;
	height: 100%;
}

body {
	width: 100%;
	height: 100%;
	margin: 0px;
	overflow: hidden;
}

header {
	padding: 0px;
	margin: 0px;
	box-shadow: 0 2px 5px grey;
	position: absolute;
	top: 0px; left: 0px; right: 0px; height: 61px;
}

#title-container {
  height: 51px;
  margin-left: 8px;
	float: left;
}

#title {
  margin: 0px;
  margin-top: 8px;
  margin-bottom : 8px;
  padding: 0px;
  font-size: 19px;
}

#switchlink {
  margin: 0px;
  margin-top: 4px;
  margin-bottom: 4px;
  font-size: 14px;
  text-decoration: inherit;
  color: black;
}

#cmdline-container {
  position: absolute;
  width: 70%;
  display: flex;
  top: 50%;
  right: 0%;
  transform: translate(0%, -50%);
  margin-right: 8px;
  float: right;
}

#cmdline-container input {
  border: 1px solid black;
  padding: 5px;
  min-width: 480px;
  flex-grow: 5;
}

#cmdline {
  font-size: 13px;
  font-family: monospace;
}

#cmdline-container button {
  margin: 0px;
  padding: 4px;
  border: 1px solid black;
}

#cmdline-container button.right {
  border-left: 0px;
}

#cmdline-container button.left {
  border-right: 0px;
}

.underline {
  text-decoration: underline;
}

section {
	padding: 0px;
	margin: 0px;
	display: block;
	overflow: hidden;
	position: absolute;
	top: 61px; left: 0px; right: 0px; bottom:0px;
}

aside {
	display: block;
	position: absolute;
	box-shadow: 0 2px 5px grey;
}

.asidetitle {
  font: 16px serif;
}

#toolbar {
	width: 240px;
	top: 0px; left: 0px; bottom: 0px;
}

#toolbar-container {
  padding: 8px;
}

.tool {
	border-width: 1px 1px 1px 1px;
	border-color: black;
	border-style: solid;
}
.tool:hover {
	border-color: blue;
}
.tool.selected {
	border-color: blue;
}

#parambar {
	width: 240px;
	top: 0px; right: 0px; bottom: 0px;
}

#parambar-container {
  padding: 8px;
}

.paramselect {
  border: 1px solid black;
  padding: 5px;
  width: 100%;
}

.paraminput {
  border: 1px solid black;
  padding: 5px;
  width: 94%;
}

.paramname {
  font: 15px serif;
}

.textrange {
  color: gray;
  float: right;
}

article {
	overflow: auto;
	position: absolute;
	top: 0px; left: 240px; right: 240px; bottom: 0px;
	min-width: 200px;
	min-height: 200px;
}

#graph-container {
  display: inline-block;
	background-color: #E8E8E8;
	min-width: 100%;
	min-height: 100%;
	text-align: center;
}

#graph {
	display: inline-block;
	width: 1200px;
	height: 675px;
	background-color: #FFFFFF;
	margin: 16px;
}

.nodeFrame {
	fill: white;
	stroke-width: 1px;
	stroke: black;
}
.selected {
	fill: white;
	stroke-width: 2px;
	stroke: blue;
}

text {
  font: 12px sans-serif;
  dy: -6;
}

.textbigfont {
  font-size: 15px;
}

line.arrow {
	stroke-width: 1px;
	stroke: black;
}
.arrowthick {
	stroke-width: 2px;
	stroke: black;
}
.selected {
	stroke-width: 1px;
	stroke: blue;
}

